.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    width: 22%
    top: 75%
    right: 90%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    width: 22%
    top: 75%
    right: 52%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    width: 22%
    top: 75%
    right: 14%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)
  
  
.banner-principal .tarjeta
  background-position: left 50% !important

.banner-principal__row .banner-principal__img
  width: 450px !important  

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: black !important   

figcaption
  font-weight: normal

.banner-interno__fondo    
  background-image: url("../assets/curso/temas/banner_interno.png") !important

// bordes, fondos, tamaños img

.borde-redondo
  border-radius: 25px

.borde-redondo-abajo
  border-bottom-left-radius: 20px
  border-bottom-right-radius: 20px

.borde-redondo-arriba
  border-top-left-radius: 20px
  border-top-right-radius: 20px

.bgprimario
  background-color: #F2F7DE
.bgsecundario
  background-color: #E8E0EE

.fondotema1
  background: url('../assets/curso/temas/Tema1/fondot1.png')
  background-position: center
  background-size: 100% 100%
  border-radius: 20px

.fondotema2
  background-image: url('../assets/curso/temas/Tema2/fondot2.png')
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -3rem  
    background-size: center 
  @media screen and (max-width: 767px)
    background-size: cover 
    margin-inline: -2.4rem
    margin-right: -2rem
    margin-left: -2rem
.fondotema22
  background-image: url('../assets/curso/temas/Tema2/fondot22.png')
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -3rem  
    background-size: center 
  @media screen and (max-width: 767px)
    background-size: cover 
    margin-inline: -2.4rem
    margin-right: -2rem
    margin-left: -2rem

.tarjeta--blanca
  background-color: #FFFFFF 

.slyder-a__btn--sigt, .slyder-a__btn--atrs 
  background-color: #ffc107

.slyder-a__bullets__item--active
  background-color: #C2D960
  border-color: #C2D960
  opacity: 1
.slyder-a__bullets__item 
  width: 8px
  height: 8px
  background-color: #E9F0CB
  margin: 0 4px

.bg1
  background-color: #D2C3DD
.bg1_4
  background-color: #E8E0EE
.bg1_1
  background-color: #D2C3DD
  height: 490px

.bg1_2
  background-color: #F3EFF6
  height: 483px
.fa-check-circle, .fa-circle-check 
  --fa: "\f058"
  color: #916AAB
.fa-check-circle2, .fa-circle2-check
  --fa: "\f058"
  color: #C2D960

.w-card-icon
  width: min-content
  z-index: 1
.w-card-text
  position: relative
  padding-left: 50px
  padding-right: 50px
  left: -30px
  top: 8px
  width: fit-content
.bg3
  background-color: #fff
.bg5
  background-color: #644977
  border-radius: 20px
.bg4
  background-color: #D9EAFA
  border-radius: 20px
.escala-grises .tabs-b__tab 
  &.tabs-b__tab--active .tabs-b__tab__icon
    filter: grayscale(0)
    transition: all 0.2s ease-out
  .tabs-b__tab__icon
    filter: grayscale(1)
    transition: all 0.2s ease-out
.tislyder
  background-color: #E6EFBF

.tarjeta-numerada.color-primario 
  border-color: #E6EFBF
  background-color: #E6EFBF
  height: 185px

.tarjeta-numerada.color-primario2 
  border-color: #E8E0EE
  background-color: #E8E0EE
  height: 285px
.tarjeta-numerada__numero2 div 
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)
.tarjeta-numerada__numero2 
  border-radius: 60px
  width: 60px
  height: 60px
  display: inline-block
  position: absolute
  left: 0
  top: 25px
  transform: translateX(-50%)
  background-color: #C2D960

.tarjeta-numerada.color-primario .tarjeta-numerada__numero div 
  color: #fff

.acordion .tarjeta--azul
  background-color: #B4D5F6

.acordion .tarjeta.tarjeta--azul.acordion__activo
  background-color: #D2C3DD
.acordion__accion__btn--a 
  background-color: #FFC400

.fondo2
  background-image: url('../assets/curso/temas/Tema1/fondo2.png')
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -3rem  
    background-size: center 
  @media screen and (max-width: 767px)
    background-size: cover 
    margin-inline: -2.4rem
    margin-right: -2rem
    margin-left: -2rem
.fondo03
  background-image: url('../assets/curso/temas/Tema1/fondo3.png')
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -3rem  
    background-size: center 
  @media screen and (max-width: 767px)
    background-size: cover 
    margin-inline: -2.4rem
    margin-right: -2rem
    margin-left: -2rem
.w-card-text2
  position: relative
  padding-left: 20px
  padding-right: 20px
  left: -8px
  top: 8px
  width: fit-content

.tarjeta.color-acento-botones--borde 
  background-color: #D9EAFA
  color: #12263F
  border: #D9EAFA

.tabs-a__tab__text 
  color: #12263F
.tabs-a__tab 
  background-color: #c2d960

.columna1
  width: 320px

.img
  margin-top: -90%
.img2
  margin-top: -10%
.bgprimario1
  background-color: #F2F7DE

.titulo-segundo:after 
  border-left-color: #c2d960
.bgslyder
  background-color: #B4D5F6 
.bgfondo
  background-color: #B4D5F6 
  border-radius: 20px
.circl-arrow .slyder-f__btn i
  font-size: 1.2rem
  background-color: #FFC400
  //background-color: $color-acento-contenido
  //color: $white
  height: 46px
  width: 46px
  padding: 5px
  border-radius: 500px
  display: flex
  justify-content: center
  align-items: center